<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <h4 class="text-center">Employee Logs</h4>
                            
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Date</label>
                            <input type="date" name="date" [(ngModel)]="date" class="form-control" placeholder="">
                            <button class="btn btn-warning mt-3 float-end" (click)="read()" >Search</button>
                            

                            
                        </div>
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <table class="table table-stripped text-center mt-3">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Entry Time</th>
                                            <th>Exit Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of search ">
                                            <td>{{i.name}}</td>
                                            <td>{{i.date}}</td>
                                            <td>{{i.entry_time}}</td>
                                            <td>{{i.exit_time}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- <table class="table table-stripped text-center mt-3">
                        <thead>
                            <tr>
                                <th>Employee Id</th>
                                <th>Date</th>
                                <th>Entry Time</th>
                                <th>Exit Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of nameemp ">
                                <td>{{i.emp_id}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.entryTime}}</td>
                                <td>{{i.exitTime}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>