<app-empl-navbar></app-empl-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h4 class="text-center mt-2">Leave Application</h4>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Name</label>
                    <input type="text" name="name" [(ngModel)]="name"  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Employee Id</label>
                    <input type="text" name="emp_id" [(ngModel)]="emp_id"  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">From Date</label>
                    <input type="date" name="frmdate" [(ngModel)]="frmdate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">To Date</label>
                    <input type="date" name="todate" [(ngModel)]="todate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Apply Date</label>
                    <input type="date" name="applydate" [(ngModel)]="applydate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="form-group">
                        <label for="" class="form-label">Leave Type:</label>
                        <select name="type" [(ngModel)]="type" id="" class="form-control">
                            <option value="cas">Casual</option>
                            <option value="sick">Sick</option>
                            <option value="special">Special</option>
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Remarks</label>
                    <input type="text" name="remarks" [(ngModel)]="remarks" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-3">
                    <button class="btn btn-success" (click)="read()">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
