
<app-empl-navbar></app-empl-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table table-striped">
                <thead>
                  <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Email</th>
                    <th scope="col">User Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>{{dataresp[0].name}}</td>
                    <td>{{dataresp[0].designation}}</td>
                    <td>{{dataresp[0].email}}</td>
                    <td>{{dataresp[0].username}}</td>
                  </tr>
                
                </tbody>
              </table>

        </div>
    </div>
</div>
